#gdi-toolbar {
    position: fixed;
    left: 100px;
    bottom: 100px;
    z-index: 10000;
}

#gdi-toolbar .container {
    position: relative;
    display: inline-block;
    width: auto;
    padding: 10px;
    background-color: red;
    border-radius: 25px;
}

#gdi-toolbar .container img {
    margin-right: 5px;
    cursor: pointer;
}
